/* CSS Document */



@media only screen and (min-width:480px) {
	 

#wrap                   {
                           margin-left: 3px;
	                   margin-right: 12px;
	                   padding-bottom: 20px;	
			 }
      
	  
h1                    {
	                   text-align: left;
	                   font-size: 1.1em;
	                   margin-top: 20px;
	                   margin-left: 20px;
	                   margin-bottom: 0px;
			   text-shadow: 1px 2px #666;
	                  } 
	  
	  
#banner              {
	                  position: center;
		          padding-bottom: 2%;
		          max-width: 100%;
		          margin-left: 3px;		
                         }
 

nav                   {
	                   max-width: 100%;
	                   text-align: right;
			   margin-bottom: 5px;
			   margin-right: 5px;
			   padding-left: 25px;			
                        }
	  
	  
nav a                {
	                  color: #c90;
	                  font-size: 1em;
	                  padding-left: 15px;	
			  text-shadow: 1px 1px #666;	
                       }
					 
					  
h2                   {
	                  font-size: 1em;
	                 } 


h3                   {
	                  font-size: 0.8em;
	                 } 


#mainbar            {
	                 max-width: 50%;
	                 float: left;
	                 clear: both;
	                 margin-left: 20px;	  
	                }
	  
	  
#sidebar            {
	                 float: right;
	                 max-width: 35%;
	                 margin-right: 20px;	  
	                }
	  
	  
.list li           {
                    font-size:0.8em;
                   }
	  
	  
#about             {
	                text-align: center;
	                padding-top: 20px;
	                max-width: 100%;
	                margin-top: 10px;	 
	               }
	 
	 
#footer            {
	                border: 2px dotted #c90;
	                margin-top: 10px;
	                margin-left: 5px; 
	               }

           }
		   
 

@media only screen and (min-width:660px) {
	
	

#wrap              {
                        max-width: 80%;
	                margin: 0 auto;	   
	               }
				   
				   
.list li           {
                    font-size:0.925em;
                   }
				   
				   
p                  {
	                font-size: 0.85em;
	               }
				   
				   
.image             {
	                margin-left: 1%;
							
	               }
		

h1                 {
	                text-align: left;
	                font-size: 1.6em;
	                margin-top: 20px;
	                margin-left: 20px;
	                margin-bottom: 0px;
	                color: #c90;
			text-shadow: 2px 3px #666;
                   }
				   
				   
nav                {
	                max-width: 88%;
	                text-align: right;
			margin-bottom: 15px;
			margin-right: 15px;			
                   }
	  
	  
nav a              {
	                color: #c90;
	                font-size: 1.2em;
	                padding-left: 12px;
			text-shadow: 1px 1px #666;	
                   }	  


#banner            {
	                position: center;
		        padding-bottom: 5px;
		        max-width: 100%;
		        margin-left: 3px;		
                      }
 
 
h2                 {
	                font-size: 1.5em;
	               } 
				   

h3                 {
	                font-size: 1.12em;
	               }


#mainbar           {
	                max-width: 58%;
	                float: left;
	                clear: both;
	                margin-left: 5px;	  
	               }
	  
	  
#sidebar           {
	                float: right;
	                max-width: 30%;
	                margin-right: 2%;	
			padding-left: 5px;  
	               }
	  
	  
#about             {
	                text-align: center;
	                max-width: 92%;
	                margin-top: 3px;
			margin-right: 30px;
					 
	               }
				   
				   
h4                 { 
                        padding-bottom: 2px;
                        margin-bottom: 0px;
	               }
	  
	 	 
#footer            {
	                border: 2px dotted #c90;
	                margin-top: 10px;
	                margin-left: 5px;
			max-width: 100%; 
					
	               }
	

             }
	
		


	
	
